<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Pacientes en espera</h1>
  </div>

  <div class="container mt-5">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Jane</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Limpieza</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Motivo</li>
              <hr />
              <li>Hora de la cita: 00:00</li>
              <hr />
              <li>Dentista a atender:</li>
              <li>John Doe</li>
              <hr />
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-info">Proceder</button>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Cancelar</button>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Andrei</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Brackets</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Cita 3 de 60</li>
              <hr />
              <li>Hora de la cita: 00:00</li>
              <hr />
              <li>Dentista a atender:</li>
              <li>John Doe</li>
              <hr />
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-info">Proceder</button>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Cancelar</button>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Monica</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Cirujia</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>mueleas del juicio</li>
              <hr />
              <li>Hora de la cita: 00:00</li>
              <hr />
              <li>Dentista a atender:</li>
              <li>John Doe</li>
              <hr />
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-info">Proceder</button>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Cancelar</button>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Lucas</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Limpieza</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Limpieza agendada</li>
              <hr />
              <li>Hora de la cita: 00:00</li>
              <hr />
              <li>Dentista a atender:</li>
              <li>John Doe</li>
              <hr />
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-info">Proceder</button>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Cancelar</button>
          </div>
        </div>
      </div>
      <hr />
    </div>