<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Registro de Pacientes</h1>
  <div class="container">
    <form class="form-complete my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Buscar Paciente" aria-label="Buscar paciente">
    </form>
    <p></p>
    <button type="button" class="btn btn-lg btn-block btn-outline-info">Buscar</button>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-sm">
        Nombre
      </div>
      <div class="col-sm">
        Edad
      </div>
      <div class="col-sm">
        Genero
      </div>
      <div class="col-sm">
        Dentista Encargado
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        Nombre
      </div>
      <div class="col-sm">
        Edad
      </div>
      <div class="col-sm">
        Genero
      </div>
      <div class="col-sm">
        Dentista Encargado
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        Nombre
      </div>
      <div class="col-sm">
        Edad
      </div>
      <div class="col-sm">
        Genero
      </div>
      <div class="col-sm">
        Dentista Encargado
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        Nombre
      </div>
      <div class="col-sm">
        Edad
      </div>
      <div class="col-sm">
        Genero
      </div>
      <div class="col-sm">
        Dentista Encargado
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        Nombre
      </div>
      <div class="col-sm">
        Edad
      </div>
      <div class="col-sm">
        Genero
      </div>
      <div class="col-sm">
        Dentista Encargado
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        Nombre
      </div>
      <div class="col-sm">
        Edad
      </div>
      <div class="col-sm">
        Genero
      </div>
      <div class="col-sm">
        Dentista Encargado
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        Nombre
      </div>
      <div class="col-sm">
        Edad
      </div>
      <div class="col-sm">
        Genero
      </div>
      <div class="col-sm">
        Dentista Encargado
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        Nombre
      </div>
      <div class="col-sm">
        Edad
      </div>
      <div class="col-sm">
        Genero
      </div>
      <div class="col-sm">
        Dentista Encargado
      </div>
    </div>
  </div>